@CHARSET "UTF-8";
@media(min-width: 1280px) {
	.container1 > ul,
	#main,
	footer > .row {
		width: 1280px;
		margin: auto !important;
		padding-bottom: 40px;
	}
}
@media(max-width: 1279px) {
	.container1 > ul,
	#main,
	footer > .row {
		width: 100%;
		margin: auto !important;
		padding-bottom: 40px;
	}
}
@font-face{
    font-family:"NANUMSQUARER";
    src:url('/bs/fonts/NANUMSQUARER.TTF') format('truetype');
}
@font-face{
    font-family:"NANUMSQUAREB";
    src:url('/bs/fonts/NANUMSQUAREB.TTF') format('truetype');
}
@font-face{
    font-family:"NANUMSQUAREEB";
    src:url('/bs/fonts/NANUMSQUAREEB.TTF') format('truetype');
}
body { font-family: NANUMSQUAREB; }

a { cursor: pointer; }
a:LINK { text-decoration: none;}
a:VISITED { text-decoration: none;}
a:HOVER { 
	text-decoration: none !important;
	font-family: NANUMSQUAREB;
	font-weight: bold;
}
.btn {
	color: white;
	font-weight: bold; 
	background-color: black; 
}
.btn:HOVER {
	color: white;
	font-weight: bold; 
	background-color: rgb(180, 180, 180); 
}
.btn:ACTIVE {
	color: white;
	font-weight: bold; 
	background-color: rgb(180, 180, 180); 
}
.navbar-nav {
	float: none;
}

.row { margin: 0; }